.productListWrapperStyles {
  display: flex;
  gap: 30px;
  justify-content: center;
  align-items: center;
  margin: auto;
  max-width: 1644px;
  flex-wrap: wrap;
}

.titleStyles {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  font-size: 24px;
}

.filterWrapperStyles {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  gap: 30px;
}

.selectBrandDropdown{
  width: fit-content;
  padding: 10px 20px;
  border: transparent;
  border-bottom: 1px solid #929292;
  cursor: pointer;
  outline: none;
  font-size: 16px;
  transition: all 0.5s ease-in-out;
}

.emptyResultsWrapper{
  height: 300px;
  width: 300px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 24px;
  font-weight: lighter;
}
